{% extends "base.html" %}

{% block content %}

<br><br>

<h2>Account Info</h2>
<p>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
  </p>
<dl>
    <dt>Account ID</dt>
    <dd>{{current_user.id}}</dd>
    <dt>Email
        <a class="btn btn-secondary" href="{{ url_for('users.edit_email') }}" role="button">Edit Email</a>
    </dt>
    <dd>{{current_user.email}}</dd>
    <dt>First Name
        <a class="btn btn-secondary" href="{{ url_for('users.edit_fname') }}" role="button">Edit First Name</a>
    </dt>
    <dd>{{current_user.first_name}}</dd>
    <dt>Last Name
        <a class="btn btn-secondary" href="{{ url_for('users.edit_lname') }}" role="button">Edit Last Name</a>
    </dt>
    <dd>{{current_user.last_name}}</dd>
    <dt>Address
        <a class="btn btn-secondary" href="{{ url_for('users.edit_address') }}" role="button">Edit Address</a>
    </dt>
    <dd>{{current_user.address}}</dd>
    <dt>Password
        <a class="btn btn-secondary" href="{{ url_for('users.edit_password') }}" role="button">Create New Password</a>
    </dt>
    <dd>Current password will not be displayed for security reasons.</dd>
    <dt>Balance
    </dt>
    <dd><a class="btn btn-secondary" href="{{ url_for('users.decrement_balance') }}" role="button">Withdraw Money</a>
        <a class="btn btn-secondary" href="{{ url_for('users.increment_balance') }}" role="button">Deposit Money</a>
    </dd>
    <dd>{{current_user.balance}}</dd>
</dl> 

<br><br>

{% endblock %}
ml>
