{% extends "base.html" %}

{% block content %}

<h1>Add New Product</h1> 

<form action="" method="post" novalidate>
    {{ form.csrf_token }}
    <p>
        <b>{{ form.name.label }}</b><br/>
        {{ form.name(size=32) }}<br/>
    </p>
    <p>
        <b>{{ form.description.label }}</b><br/>
        {{ form.description(size=32) }}<br/>
    </p>
    <p>
        <b>{{ form.price.label }}</b><br/>
        {{ form.price(size=32) }}<br/>
    </p>
    <p>
        <b>{{ form.inventory.label }}</b><br/>
        {{ form.inventory(size=32) }}<br/>
    </p>
    <p>
        <b>{{form.category.label}}</b><br/>
        {{form.category}}<br/>
    </p>
    <b>{{form.restaurant.label}}</b><br/>
    {% for subfield in form.restaurant %}
    <tr>
        <td>{{subfield.label}}</td>
        <td>{{subfield}}</td>
    </tr>
    {% endfor %}
    <p>
        <b>{{form.image.label}}</b><br/>
        {{form.image}}<br/>
    </p>
    {{ form.submit(class_="btn btn-black") }}
</form>

{% endblock %}

<!-- additional formatting to the add product form
    <p>
        {{ form.category.label }}<br/>
        <select name="categories">
            <option selected>Select a category</option>
            {% for option in form.category.choices %}
                <option value="{{ option[1] }}">{{ option[0] }}</option> 
            {% endfor %}
        </select>
    </p>
    <p>
        {{ form.restaurant.label }}<br/>
        {% for option in form.restaurant.choices %}
            <input type="checkbox" class="select" value="{{ option[1] }}">{{ option[0] }}</option>
        {% endfor %}
    </p>
    -->