{% extends "base.html" %}

{% block content %}

<br><br>

<h2>Incoming Orders</h2>
<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <!-- SELECT Users.first_name, Users.last_name, Users.address, Purchase.time_purchased, ProductInCart.quantity, Purchase.is_fulfilled -->
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Address</th>
      <th scope="col">Timestamp</th>
      <th scope="col">Quantity</th>
      <th scope="col">Fulfilled</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    {% for order in incoming_orders %}
      <tr>
        <td scope="row">{{ order['first_name'] }}</td>
        <td scope="row">{{ order['last_name'] }}</td>
        <td scope="row">{{ order['address'] }}</td>
        <td scope="row">{{ order['timestamp'] }}</td>
        <td scope="row">{{ order['quantity'] }}</td>
        <td scope="row">{{ order['fulfilled'] }}</td>
        <td scope="row">
            <form method="post" action="/order/fulfill/{{order['product_in_cart_id']}}/{{order['cart_id']}}"><button name="fulfill" value="fulfill" class="btn">Fulfill</button></form>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}