{% extends "base.html" %}

{% block content %}

<!-- place product image on left-hand side (set of images corresponding to categories for testing purposes)-->
{% if os.path.exists('app/static/images/products/' + product_info.id|string + '.png') %}
    <img src = "{{ url_for('static', filename='images/products/' + product_info.id|string + '.png') }}" class="prod-image"/>
{% else %}
    <img src = "{{ url_for('static', filename='images/products/na.png') }}" class="prod-image"/>
{% endif %}
<div>
<h1>{{product_info.name}}</h1>
</div>
<em>{{product_info.description}}</em>
<br></br>
<!-- refer back to base.html for css styling changes -->
<table class = 'product-info'>
    <tr>
        <th>Product ID</th>
        <th>Category</th>
        <th>Price</th>
        <th>Creator ID</th>
        <th>Average Rating</th>
        <th># of Reviews</th>
    </tr>
    <tr>
        <td>{{product_info.id}}</td>
        <td>{{product_info.category}}</td>
        <td>${{product_info.price}}</td>
        <td>{{product_info.creator_id}}</td>
        <td>{{summary_ratings[1]}}</td>
        <td>{{summary_ratings[0]}}</td>
    </tr>
</table>
<br></br>
<h2>Current Sellers:</h2> 
<table class = 'seller-info'>
  <tr>
      <th>Seller ID</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Restaurant</th>
      <th>Amount Remaining</th>
      <td></td>
  </tr>
  <tbody>
    {% for seller in sellers%}
      <tr>
        <th scope="row"><a href="{{ url_for('users.view_public_profile', public_user_id=seller.id) }}">{{seller.id}}</a></th>
        <td>{{seller.first_name}}</td>
        <td>{{seller.last_name}}</td>
        <td>{{seller.email}}</td>
        <td>{{product_sellers[seller.seller_affiliation]}}</td>
        <td>{{seller.inventory}}</td>
        <td>
            <a href="{{ url_for('cart.add_item_to_cart', product_id=product_info.id, seller_id=seller.id) }}" type="button" class="btn btn-dark">Add to Cart</a>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
<br><br>
<a href="{{ url_for('product_rating.create_review', review_type='product', id=product_info.id) }}" type="button" class="btn btn-dark">Leave a Review</a>
<br><br>
<h2>All Reviews:</h2>
<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">Star Rating</th>
      <th scope="col">Review Message</th> <!-- TODO: perhaps not review the entire message in this one column? -->
      <th scope="col">Date</th>
      <th scope="col">Temp upvote counter</th>
      <th scope="col">Upvote</th>
    </tr>
  </thead>
  <tbody>
    {% for i in range(reviews|length) %}
      <tr>
        <td>{{ reviews[i].rating }}</td>
        <td>{{ reviews[i].review }}</td>
        <td>{{ reviews[i].time_posted }}</td>
        <td>{{ reviews[i].upvotes }}</td>
        <td>
          <a href="{{ url_for('product_rating.upvote_review', review_type='product', id=product_info.id) }}" type="button" class="btn btn-dark">Upvote This Review</a>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>

<a href="{{ url_for('index.index') }}" type="button" class="btn btn-dark">Show More Reviews (TODO)</a>

{% endblock %}
