{% extends "base.html" %}

{% block content %}

<h1>My Products</h1>

<a href="{{ url_for('inventory.add_product') }}" type="button" id = "vendor" class="btn btn-black"> Add new product </a> 

<br><br>
<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">Product ID</th>
      <th scope="col">Quantity</th>
      <th scope="col">Name</th>
      <th scope="col">Category</th>
      <th scope="col">Price</th>
      <th scope="col">Available</th>
      <th scope="col">Current Coupon</th>
      <th scope="col">Generate Coupon</th>
      <th scope="col">Edit Info</th>
    </tr>
  </thead>
  <tbody>
    {% for item in inventory %}
      <tr>
        <th scope="row">
          <a href="/view?id={{item.product_id}}">{{ item.product_id }}</a>
        </th>
        <td scope="row">{{ item.inventory }}</td>
        <td scope="row">{{ item.name }}</td>
        <td scope="row">{{ item.category }}</td>
        <td scope="row">${{ item.price }}</td>
        <td scope="row">{{ item.is_available }}</td>
        {% if item.product_id in coupons %}
          <td scope="row">{{ coupons[item.product_id] }}</td>
          <td>
            <button disabled>Click here!</button>
          </td>
        {% else %}
          <td scope="row">No current coupon</td>
          <td><form action="/generate_coupon/{{item.product_id}}/{{item.seller_id}}">
            <button>Click here!</button>
          </form></td>
        {% endif %}
        <td><a href="{{ url_for('inventory.edit_product', product_id=item.product_id) }}">Edit</a></td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% if page_num < max_pages %}
<a href="/inventory?page={{page_num + 1}}" type="button" class="btn btn-gray right">Next</a>
{% endif %}
{% if page_num != 1 %}
<a href="/inventory?page={{page_num - 1}}" type="button" class="btn btn-gray right">Previous</a>
{% endif %}
<br></br>

{% endblock %}
ml>