{% extends "base.html" %}

{% block content %}
<h1>Products for sale at {{product_sellers[vender_id]}}:</h1>

<select id="categoryFilter" onchange="location = this.value;">
  <option value="/product?id={{vender_id}}">Filter by:</option>
  <tbody>
    {% for category in categories%}
      <tr>
        document.write('<option value="/filter?id={{vender_id}}&cat={{category[0]}}">{{category[0]}}</option>');
      </tr>
      {% endfor %}
  </tbody>
</select>

<br><br>

<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">Product ID</th>
      <th scope="col">Product Name</th>
      <th scope="col">Category</th>
      <th scope="col">Price</th>
      <th scope="col">Rating</th>
    </tr>
  </thead>
  <tbody>
    {% for product in avail_products%}
      <tr>
        <th scope="row">
          <a href="/view?id={{product.id}}">{{product.id}}</a>
        </th>
        <td>{{product.name}}</td>
        <td>{{product.category}}</td>
        <td>${{product.price}}</td>
        <td>
          <a href="{{ url_for('product_rating.create_review', product_id=product.id) }}">Rate This Product</a>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
