{% extends "base.html" %}

{% block content %}

<br><br>

<h2>Products I Sell</h2>
<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">Product ID</th>
      <th scope="col">Quantity</th>
      <th scope="col">Name</th>
      <th scope="col">Category</th>
      <th scope="col">Price</th>
      <th scope="col">Available</th>
      <th scope="col">Current Coupon</th>
      <th scope="col">Generate Coupon</th>
    </tr>
  </thead>
  <tbody>
    {% for item in inventory %}
      <tr>
        <td scope="row">{{ item.product_id }}</td>
        <td scope="row">{{ item.inventory }}</td>
        <td scope="row">{{ item.name }}</td>
        <td scope="row">{{ item.category }}</td>
        <td scope="row">{{ item.price }}</td>
        <td scope="row">{{ item.is_available }}</td>
        {% if item.product_id in coupons %}
          <td scope="row">{{ coupons[item.product_id] }}</td>
          <td>
            <button disabled>Click here!</button>
          </td>
        {% else %}
          <td scope="row">No current coupon</td>
          <td><form action="/generate_coupon/{{item.product_id}}">
            <button>Click here!</button>
          </form></td>
        {% endif %}
      </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
ml>