{% extends "base.html" %}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

{% block content %}

<br><br>

<h2>Product: {{ data.product.name }}</h2>

{{ wtf.quick_form(form) }}

<!-- <form action="" method=post>
  <dl>
    Number of stars:
    {{ form.number_of_stars() }} <br />
    Written Review:
    {{ form.written_review() }}
  </dl>
  <p><input type=submit value="Submit Review">
</form> -->

{% endblock %}