{% extends "base.html" %}

{% block content %}
<img src = "{{ url_for('static', filename='images/' + vender_id|string + '.png') }}" height="100"/>
<h1>Products for sale at {{product_sellers[vender_id]}}:</h1>
<a href="/filter-price?id={{vender_id}}" type="button" class="btn btn-gray left">Filter by price</a>
<select id="categoryFilter" class="btn btn-gray left" onchange="location = this.value;">
  <option value="/product?id={{vender_id}}">Filter by category</option>
  <tbody>
    {% for category in categories%}
      <tr>
        document.write('<option value="/filter?id={{vender_id}}&cat={{category[0]}}">{{category[0]}}</option>');
      </tr>
      {% endfor %}
  </tbody>
</select>
<form action="/search" class="right">
  <input type="hidden" name="id" value="{{vender_id}}">
  <input type="text" placeholder="Search for product" name="search">
  <button type="submit">Submit</button>
</form>

<br><br>

<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">Product ID</th>
      <th scope="col">Product Name</th>
      <th scope="col">Category</th>
      <th scope="col">Price</th>
      <th scope="col">Average Rating</th>
    </tr>
  </thead>
  <tbody>
    {% for i in range(avail_products|length) %}
      <tr>
        <th scope="row">
          <a href="/view?id={{avail_products[i].id}}">{{avail_products[i].id}}</a>
        </th>
        <td>{{avail_products[i].name}}</td>
        <td>{{avail_products[i].category}}</td>
        <td>${{avail_products[i].price}}</td>
        <td>{{ average_ratings[i] }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
