{% extends "base.html" %}

{% block content %}

<br><br>

<h2>Seller Profile</h2>

<dl>
    <dt>Account ID</dt>
    <dd>{{seller.id}}</dd>
    <dt>Email</dt>
    <dd>{{seller.email}}</dd>
    <dt>First Name</dt>
    <dd>{{seller.first_name}}</dd>
    <dt>Last Name</dt>
    <dd>{{seller.last_name}}</dd>
    <dt>Address</dt>
    <dd>{{seller.address}}</dd>
    <dt>Affiliation</dt>
    <dd>{{product_sellers[seller.seller_affiliation]}}</dd>
    <dt>Average Rating</dt>
    <dd>{{summary_ratings[1]}}</dd>
    <dt># of Reviews</dt>
    <dd>{{summary_ratings[0]}}</dd>
</dl> 

<br><br>

<a href="{{ url_for('product_rating.create_review', review_type='seller', id=seller_id) }}" type="button" class="btn btn-dark">Leave a Review</a>
<br><br>
<h2>All Reviews:</h2>
<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">User</th>
      <th scope="col">Star Rating</th>
      <th scope="col">Review Message</th> <!-- TODO: perhaps not review the entire message in this one column? -->
      <th scope="col">Date</th>
      <th scope="col">Upvotes</th>
      <th scope="col">Upvote This Review</th>
    </tr>
  </thead>
  <tbody>
    {% for i in range(reviews|length) %}
      {% if (reviews[i].reviewer_id, seller.id) not in user_seller_reports %}
        <tr>
          <td>{{ reviews[i].reviewer_id }}</td>
          <td>{{ reviews[i].rating }}</td>
          <td>{{ reviews[i].review }}</td>
          <td>{{ reviews[i].time_posted }}</td>
          <td>{{ reviews[i].upvotes }}</td>
          <td>
            {% if upvote_exists|length != 0 and upvote_exists[i] %}
              <a href="{{ url_for('product_rating.remove_upvote', reviewer_id=reviews[i].reviewer_id, review_type='seller', id=seller.id) }}" type="button" class="btn btn-dark">Remove Your Upvote</a>
            {% else %}
              <a href="{{ url_for('product_rating.upvote_review', reviewer_id=reviews[i].reviewer_id, review_type='seller', id=seller.id) }}" type="button" class="btn btn-dark">Upvote This Review</a>
            {% endif %}          
          </td>
          <td>
            <a href="{{ url_for('product_rating.report_review', reviewer_id=reviews[i].reviewer_id, review_type='seller', id=seller.id) }}" type="button" class="btn btn-dark">Report</a>
          </td>
        </tr>
      {% endif %}
    {% endfor %}
  </tbody>
</table>


{% endblock %}
ml>
