{% extends "base.html" %}

{% block content %}

<br><br>
<h2>Order {{cart_id}}</h2>
{% if coupon %}
<br>
<h4>You saved {{coupon.percent_off}}% on 1 unit of product
  {{coupon.product_id}} by using coupon code {{coupon.code}} on this order!</h4>
{% endif %}
<br>
<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">Total Price</th>
      <th scope="col">Number of Items</th>
     <th scope="col">Time of Order</th>
      <th scope="col">Fulfilled</th>
    </tr>
  </thead>
  <tbody>
      <tr>
        <th scope="row">${{total_cart_price}}</th>
        <td>{{cart.number_of_items}}</td>
        <td>{{cart.time_purchased}}</td>
        <td>{{cart.is_fulfilled}}</td>
      </tr>
  </tbody>
</table>
<br><br><br>

<h2>Products Purchased</h2>
<br>
<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">Product ID</th>
      <th scope="col">Product Name</th>
      <th scope="col">Final Unit Price</th>
      <th scope="col">Seller</th>
      <th scope="col">Quantity</th>
      <th scope="col">Fulfilled</th>
      <th scope="col">Time of Fulfillment</th>
      <th scope="col">Review This Seller</th>
    </tr>
  </thead>
  <tbody>
    {% for purchase in purchases %}
      <tr>
        <th scope="row"><a href="/view?id={{purchase.product_in_cart.product.id}}">{{purchase.product_in_cart.product.id}}</a></th>
        <td>{{purchase.product_in_cart.product.name}}</td>
        <td>${{purchase.final_unit_price}}</td>
        <th scope="row"><a href="{{ url_for('users.view_public_profile', public_user_id=purchase.product_in_cart.seller_id) }}">{{purchase.product_in_cart.seller_id}}</a></th>
        <td>{{purchase.product_in_cart.quantity}}</td>
        <td>{{purchase.is_fulfilled}}</td>
        {% if purchase.time_of_fulfillment %}
          <td>{{purchase.time_of_fulfillment}}</td>
        {% else %}
          <td>-</td>
        {% endif %}
        <td>
          <a href="{{ url_for('product_rating.create_review', review_type='seller', id=purchase.product_in_cart.seller_id) }}" type="button" class="btn btn-dark">Leave a Review</a>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
ml>