{% extends "base.html" %}

{% block content %}

<br><br>
<h2>Order {{cart_id}}</h2>
<br>
<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">Total Price</th>
     <th scope="col">Time of Order</th>
      <th scope="col">Fulfilled</th>
    </tr>
  </thead>
  <tbody>
      <tr>
        <th scope="row">${{total_cart_price}}</th>
        <td>{{cart.time_purchased}}</td>
        <td>{{cart.is_fulfilled}}</td>
      </tr>
  </tbody>
</table>
<br><br><br>

<h2>Products Purchased</h2>
<br>
<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">Product ID</th>
      <th scope="col">Product Name</th>
      <th scope="col">Final Unit Price</th>
      <th scope="col">Seller</th>
      <th scope="col">Quantity</th>
      <th scope="col">Fulfilled</th>
      <th scope="col">Time of Fulfillment</th>
    </tr>
  </thead>
  <tbody>
    {% for purchase in purchases %}
      <tr>
        <th scope="row">{{purchase.product_in_cart.product.id}}</th>
        <td>{{purchase.product_in_cart.product.name}}</td>
        <td>${{purchase.final_unit_price}}</td>
        <td>{{purchase.product_in_cart.seller_id}}</td>
        <td>{{purchase.product_in_cart.quantity}}</td>
        <td>{{purchase.is_fulfilled}}</td>
        {% if purchase.time_of_fulfillment %}
          <td>{{purchase.time_of_fulfillment}}</td>
        {% else %}
          <td>-</td>
        {% endif %}
      </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
ml>